# Ignore Python cache files
__pycache__/
*.pyc

# Ignore database files
db.sqlite3

# Ignore environment variables and sensitive data
.env

# Ignore project-specific settings
/local_settings.py

# Ignore log files
*.log

# Ignore virtual environment directories
venv/
